<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connectify</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    <br>

    <% for(let chat of chats){ %>
        <div class="chat">
            <p><span class="from">From: </span><i><%= chat.from %></i> </p>
                <div class="msg">
                    <p><%= chat.message %></p>
                
                    <form method="GET" action="/chats/<%= chat._id %>/edit" class="b1">
                        <button>Edit</button>
                    </form>       
                    <form method="POST" action="/chats/<%= chat._id%>?_method=DELETE" class="b2">
                        <button>Delete</button>
                    </form>
            
                </div>
            <p><span class="received-by">Received by: </span><i><%= chat.to %></i> </p>
            <hr>
            <!-- <p><%= chat.created_at %></p> -->
            <p><%= chat.created_at.toString().split(" ")[4] %> &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>

        </div>
        <br>
        <br>
      
    <% } %>
    
</body>
</html>